# dependencies
/node_modules

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem
.idea
.vscode

# env
.env*
.env*.local

# typescript / next generated
*.tsbuildinfo
next-env.d.ts

# runtime data writes (keep seed JSON tracked)
# data/*.runtime.json
